<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="org.noyaxe.scanapps"
        version="0.1.0">
    <name>Scanapps</name>
    <description>Sample PhoneGap Scanapps Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,scan apps</keywords>


    <js-module src="www/scan_apps.js" name="Scan">
        <clobbers target="cordova.plugins.org.noyaxe.scanapps" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScanPlugin">
                <param name="android-package" value="com.noyaxe.plugintest.ScanPlugin"/>
            </feature>
            <feature name="PackageUtils">
                <param name="android-package" value="com.noyaxe.plugintest.PackageUtils"/>
            </feature>
        </config-file>

        <source-file src="src/android/ScanPlugin.java" target-dir="src/com/noyaxe/plugintest" />
        <source-file src="src/android/PackageUtils.java" target-dir="src/com/noyaxe/plugintest" />
    </platform>
</plugin>
